{% extends 'base.html' %}
{% include '_helpers.html' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
         <div class="fieldWrapper">
            <label for="{{ form.app.id_for_label }}">Apellido Paterno:</label>
            {{ form.app }}
        </div>
        <div class="fieldWrapper">
            <label for="{{ form.apm.id_for_label }}">Apellido Materno:</label>
            {{ form.apm }}
        </div>  
         <div class="fieldWrapper">
            <label for="{{ form.nombre.id_for_label }}">Nombre(s):</label>
            {{ form.nombre }}
        </div> <div class="fieldWrapper">
            <label for="{{ form.parentesco.id_for_label }}">Parentesco:</label>
            {{ form.parentesco }}
        </div> 
        <div class="fieldWrapper">
            <label for="{{ form.tel.id_for_label }}">Teléfono:</label>
            {{ form.tel }}
        </div> 
        <div class="button">
            <input type="submit" value="Registrar" class="btn btn-primary">
        </div>
{% endblock %}