body {
    background-color: rgb(224, 224, 224);
    color: black;
}

.main-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}

.cont-1 {
    margin-right: 10px;
}

.cont-2 {
    margin-left: 10px;
}

.button {
    margin-top: 15px;
}

.btn-div {
    margin-top: 15px;
}


.btns-div {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btns-cont {
    display:flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
}

main {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.registro {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
    
}

.image img {
    width: 200px;
    height: 200px;
}


.txt {
    font-size: 25px;
    text-align: center;
}
